
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body{
	background-color: black;
}
.post{
	margin-left: 40px;
	width: 600px;
	position: absolute;
	color: black;
	background-color: white;
}
.entry{
	margin: 30px;
}
.author{
	font-style: oblique;
	margin: 30px;
}
i {
  font-size: 1rem;
}
.fa-heart:hover {
    color: red;
}

/*
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img04.jpg) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #808080;
}


a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

/* Page */
