
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  color: #56585b;
}

::-moz-placeholder {
  color: #56585b;
}

:-moz-placeholder {
  color: #56585b;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: url(./images/Europe.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #0a0a0b;
  overflow: auto;
  justify-content: center;
  margin: 0;
  padding: 0;
}

ul, nav{
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 1.5rem;
}

i {
  font-size: 1.3rem;
}

.home{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 100px 0;
}

.home nav ul {
  display: flex;
}

.home nav li{
  margin: 0 15px;
}

.home nav li:first-child{
  margin-left: 0;
}

.home nav li:last-child{
  margin-right: 0;
}

a.btn {
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a.btn:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}

.cover  {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
  padding: 20px 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.flex-form input[type="submit"] {
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="text"] {
  flex-basis: 500px;
}



/*comment styles*/

.post{
    margin-left: 40px;
    width: 600px;
    position: absolute;
    color: black;
    background-color: white;
}
.entry{
    margin: 30px;
}
.author{
    font-style: oblique;
    margin: 30px;
}
i {
  font-size: 1rem;
}
.fa-heart:hover {
    color: red;
}



@media all and (max-width:800px) {
  body {
    font-size: 0.9rem;
  }

  .flex-form {
    width: 100%;
  }

  input[type="text"] {
    flex-basis: 100%;
  }

  .flex-form > * {
    font-size: 0.9rem;
  }

  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 10px !important;
  }

  header h2 {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  #name {
    font-family: 'Poppins', sans-serif;
    color: black;
  }

  .cover {
    padding: 20px;
  }

  #madeby {
    padding: 30px 20px;
  }
}

.column {
  float: left;
  padding: 10px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 8px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  opacity: 0.95;
  height: 100%;

}

.left {
  width: 70%;
  background-color:#aaa;
}

.right {
  background-color:#bbb;
  width: 20%;
  height: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  padding-top: 7%;
}



.login{
  padding:7%
}
.login-form{
  background: white;
  border-radius: 2rem;
  display: block;
  flex-direction: column;
  padding: 30px;
  position: relative;
  overflow: hidden;
  width: 240px;
  height: 364px;
  margin-left: 35%;
  color: black;
}
.a11y-hidden{
  color: black;
  font-size: 2rem;
}
.text{
  margin-bottom: 20px;
}
.log{
  width:80%;
  display: flex;
  text-align: center;
  position: absolute;
}
.login-button{
  margin: 10px;
}

.forum{
  height: 300px;
  display: block;
}



}
